.effect {
  width: 100%;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  .effect__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .effect__img-wrapper {
    position: relative;

    &::before {
      content: "24";
      position: absolute;
      top: 56px;
      left: 19px;

      width: 202px;
      height: 202px;

      font-size: 96px;
      font-weight: 700;
      line-height: 164px;
      color: $pink;
      text-align: center;

      border: 15px solid $pink;
      border-radius: 50%;
    }
  }

  .effect__icon-timer {
    width: 238px;
    height: 276px;

    fill: #dedede;
  }

  .effect__text-wrapper {
    display: flex;
    flex-direction: column;

    width: 308px;

    margin-right: 3px;

    text-align: left;
  }

  .effect__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;

    width: 170px;

    margin: 8px 0;
  }

  .effect__text {
    margin: 0;
    margin-bottom: 15px;
    padding-top: 2px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $blue;
  }

  .effect__newline {
    display: block;
  }

  .effect__newline--transfer {
    display: none;
  }

  .effect__link {
    color: $pink;
    text-decoration: underline;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: transparent;
  }

  .effect__img-wrapper {
    &::before {
      top: 71px;
      left: 23px;

      width: 253px;
      height: 253px;

      font-size: 120px;
      line-height: 206px;

      border: 17px solid $pink;
    }
  }

  .effect__icon-timer {
    width: 298px;
    height: 345px;

    margin-left: 0;
  }

  .effect__text-wrapper {
    width: 530px;

    margin-right: 44px;
  }

  .effect__title {
    line-height: 30px;

    width: 100%;

    margin: 0;
    margin-left: 4px;
    margin-top: 46px;
  }

  .effect__text {
    margin-top: 22px;
    margin-left: 4px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    margin-top: 30px;
    margin-left: 4px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__newline {
    display: none;

    &--transfer {
      display: block;
    }
  }
}
