.page-body {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: $black;
  background-color: $white;

  min-width: 320px;

  margin: 0;
  padding: 0;

  min-height: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
}
