.page-footer {

}

.page-footer__wrapper {

}

.page-footer__logo {

}

.page-footer__social {

}

.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__copyright {
  display: flex;
}
