.prices {
  background: linear-gradient(-3deg, $lightgrey 90%, $white 10%);

  width: 100%;
}

.prices__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .prices {
    background: linear-gradient(-3.5deg, $lightgrey 88%, $white 12%);
  }
}

@media (min-width: $desktop-width) {
  .prices {
    background: linear-gradient(-4.5deg, $lightgrey 80%, $white 10%);
  }
}
