.reviews {

}

.reviews__wrapper {

}

.reviews__list {
  margin: 0;
  list-style: none;
}

.reviews__item {

}

.reviews__author-info {

}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-about {
  display: none;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
