.prices {
  background-color: $basic-background;
}

.prices__wrapper {

}

.prices__list {

}

.prices__table {
  border-collapse: collapse;
}

.prices__table td {
  min-width: 152px;
  min-height: 45px;
  border: 2px solid #E5E5E5;
}

.prices__th {
  background: &basic-color;
}

.prices__type {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.prices__usd {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.prices__name {

}
