$basic-font: "Open Sans", "Arial", sans-serif;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$basic-color: #1d2631;
$black: #000000;
$darkblue: #1d2631;
$blue: #283645;
$white: #ffffff;
$darkwhite: #fefefe;
$lightgrey: #f2f2f2;
$grey-light: #e5e5e5;
$grey: #b5b9be;
$darkpink: #d22856;
$pink: #d22856;
$red: #f25b26;
$lightgreen: #3dc644;
$darkgreen: #1c9b5e;
$green: #2aab6d;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
